@media screen and (max-width: 767px) {

  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 250ms $cubic, color 250ms $cubic;
    }
  
  .burger-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: 0;
    transition: fill 250ms $cubic;
    }
  
  .burger-menu__close {
    width: 40px;
    height: 40px;

    .burger-menu__btn:hover &,
    .burger-menu__btn:focus & {
      fill: $accent-color;
      }
    }
  
  .burger-menu__item {
    margin-bottom: 32px;
    transition: color 250ms $cubic;
  }

  .burger-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    }

  .burger-menu .current{
    color: $accent-color;

    &:hover,
    &:focus{
      color: $primary-text-color;
      }
    }
  
  .burger-menu__contact-list {
    margin-top: 302px;
  }

  .burger-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
    } 
  
  .burger-menu__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    } 
  
  .burger-menu__social-list {
    display: inline-flex;
    margin-top: 32px;
    min-width: 480px;
  }

  .burger-menu__social-item {
    transition: color 250ms $cubic;
  }

  .burger-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    }
  
  .pipe {
    height: 22px;
    color: rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    padding-left: 10px;
    }

  .is-open {
    transform: translateY(0);
    }
  }