.client{
  padding-top: $section-mob-pt;
  padding-bottom: $section-mob-pb;
  margin: 0 auto;

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: $card-set-gap;
    margin-left: $card-set-gap;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms $cubic;
      
    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }
  }
    
  &__logo {
    display: flex;
    align-items: center;
    width: 208px;
    justify-content: center;
    margin: 0 auto;
    height: 90px;
  }
   
  &__img {
    fill: #afb1b8;
    transition: fill 250ms $cubic;
  
    .client__logo:hover &,
    .client__logo:focus & {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 768px) {

  .client {
  
    &__item {
      flex-basis: calc(100% / 3 - 30px);
    }

    &__logo {
      width: 224px;
    }
  }
}

@media screen and (min-width: 1200px){
  .client {
    padding-top: $section-pt;
    padding-bottom: $section-pb;

    &__item{
      flex-basis: calc(100% / 6 - 30px);
    }

    &__logo {
      width: 168px;
    }
  }
}