.logo__link {
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
}

.address {

  &__item {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__link-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-text-color;
  }
}
  
.join {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: $section-mob-pt;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.03em;
  text-transform: uppercase;
  color: $white-text-color;
  }
  
@media screen and (min-width: 768px) {
  .logo__link {
    justify-content: center;
  }

  .footer {

    & .social {
      margin-top: unset;
    }

    &__social {
      margin-left: 165px;

      & .join {
        margin-top: unset;
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .logo__link {
    justify-content: left;
  }

  .address {

    &__item {
      text-align: left;
      margin-bottom: 9px;
    }
  }

  .footer {
    &__social {
      margin-left: 70px;
    }

    &__form {
      & .join {
        margin-top: 16px;
      }
    }
  }
}