.team {
  background-color: $secondary-font-color;
  padding-bottom: $section-pb;
    
  &__list {
    display: flex;
    align-items: center;
  }
    
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        
    .team__list & + & {
      margin-left: 30px;
    }
  }
    
  &__card {
    padding: 30px;
    background-color: #ffffff;
  }
    
  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
    
  &__desc {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
  