$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
    /* $main-font-color: #e5e5e5; */
$primary-font-color: #2f303a;
$secondary-font-color: #f5f4fa;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$black-text-color: #000000;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$section-mob-pt: 60px;
$section-mob-pb: 60px;
$section-pt: 94px;
$section-pb: 94px;
$card-set-gap: 30px;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);